@{
    ViewBag.Title = "Postes"; Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Globalization; @{
    CultureInfo french = new CultureInfo("fr-FR");
}
@model IEnumerable<CompagnieQuestion>;

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Accueil</a></li>
            <li class="breadcrumb-item active">Compagies d'évaluation</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Liste des compagnies</h5>

                    <!-- Table with stripped rows -->
                    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        
                        <div class="datatable-container">
                            <table id="datatable" class="display">
                                <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Evalué par</th>
                                        
                                        <th>Note</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var response in ViewBag.reponses)
                                    {
                                        <tr>
                                            <td>@response.compagnie</td>
                                            <td>@response.user</td>
                                            <td>@response.note </td>
                                            
                                            <td>
                                                 <a href="@Url.Action("consultResponse", "Gestionnaire", new {compagnieId = response.compagnieId, userId = response.userId})">Voir</a>
                                            </td>
                                        </tr>



                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</section>
